h1 {
    text-align: center;
}

.one {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    margin: 100px;
    /* Bonus */
    background-color: red;
}

.two {
    border: 3px solid black;
    width: 300px;
    height: 300px;
    margin: 100px;
    /* Bonus */
    background-color: blue;
}

.three {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 100px;
    /* Bonus */
    background-color: white;
}


/* BONUS */
/* td {
    border: 3px solid black;
} */

td {
    width: 100px;
    height: 100px;
}

table {
    margin: auto;
}

.top {
    border-top: 3px solid black;
}
.right {
    border-right: 3px solid black;
}
.bottom {
    border-bottom: 3px solid black;
}
.left {
    border-left: 3px solid black;
}

/* table color bonus */
#one, #five,
td:nth-of-type(1), 
td:nth-of-type(5){
    background-color: red;
}

#two, #three, #four {
    background-color: blue;
}

.top.bottom.left.right {
    background-color: white;
}